<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Song Recommendation System</h1>
    <h2>Data Mining Exam - Matilde Pereira</h2>
    <form id="form">
        <label for="songs">Choose a song:</label>
        <select id="songs" name="songs">
            {% for index, song in songs.iterrows() %}
            <option value="{{ index }}" >{{ song['track_title'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="clustering">Choose a clustering algorithm:</label>
        <select id="clustering" name="clustering">
            <option value="kmeans">K-Means</option>
            <option value="dbscan">DBSCAN</option>
            <option value="hierarchical">Hierarchical</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>

    <audio controls><source src="{{ chosen_track }}" type="audio/mpeg"></audio>

    <p>Your Recommendations:</p>
    <div id="result">
        <!--Here things the recommendation result is shown-->
    </div>
    <img src="{{ plot_path }}">

    <script src="/static/script.js"></script>

</div>
</body>
</html>